.features {
  margin: 15rem 0;
  grid-column: center-start / center-end;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 2.5rem;
  align-content: start;

  &__icon {
    width: 4.5rem;
    height: 4.5rem;
    fill: $color-primary;
    transform: translateY(-1rem);
    grid-row: 1 / span 2;
  }

  &__text {
    grid-column: 2 / -1;
    font-size: 1.7rem;
  }
}
