.footer {
  background-color: $color-secondary;
  grid-column: full-start/-1;
  padding: 8rem;
  font-size: 1.4rem;

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    align-items: center;
  }

  &__item {
    text-align: center;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-display;
    color: white;
    padding: 1.5rem;
    display: block;
    background-color: $color-secondary;
    transition: all 0.2s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
      transform: translateY(-0.7rem);
    }
  }

  &__copyright {
    text-align: center;
    color: $color-grey-light-2;
    width: 70%;
    margin: 0 auto;
    margin-top: 6rem;

    @media only screen and (max-width: $bp-medium) {
      margin-top: 3rem;
    }
  }
}
