%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
  font-size: 4.5rem;
  color: white;
  line-height: 1;
}

.heading-2 {
  @extend %heading;
  font-size: 4rem;
  color: $color-grey-dark-1;
  font-style: italic;
  line-height: 1.1;
}

.heading-3 {
  @extend %heading;
  font-size: 1.6rem;
  color: $color-primary;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;
  color: white;

  &--dark {
    color: $color-grey-dark-1;
  }
}

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 1.8rem 3rem;
    font-family: $font-display;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    background-color: $color-primary;
    transition: all 0.1s;

    &:hover {
      background-color: $color-primary-dark;
    }
  }
}
